<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Music 21</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>

<body>

{% include "partials/nav.jinja" %}

<h1>Composer: {{composername}}</h1>

{% for work in works %}
<div>
  <a href="/composers/{{composername}}/{{ work.filename }}">{{ work.filename }}</a>
</div>
{% endfor %}


   <script src="static/script.js"></script>
</body>
</html>